button {
  background-color: transparent;
  border: none;
}

.tri_label{
    padding: 0 20px 0 100px;
    font-weight: 600;
}

select {
  color: white;
  font-weight: 700;
  border-radius: 5px;
  background: #911c1c;
  padding: 10px;
}

.test{
    border: 2px solid white;
}

.heart-img{
  cursor: pointer;
}

#contact_modal, #lightbox_modal {
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(100,100,100,0.5);
}


.photograph-header {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin: 0 100px 20px 100px;
  padding: 0 50px;
}

.photograph-header h1{
    color: #D3573C;
    font-size: 64px;
    margin: 0;
}

.subtitle{
    color: #901C1C;
    font-size: 24px;
    margin: 15px 0;
}


.photograph_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 100px;
}

.photograph_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photograph_section article .photo {
  height: 300px;
  width: 350px;
  object-fit: cover;
  border-radius: 0;
  box-shadow: none;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover,
.contact_button:focus {
  background-color: #db8876;
  color: black;
}

.modal {
  position: relative;
  top: 50px;
  background-color: #db8876;
  max-width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.lightbox {
  position: relative;
  top: 50px;
  max-width: 1000px;
  height: 750px;
  display: flex;
  padding: 35px;
  margin: auto;
  color: #911C1C;
  font-size: 40px;
  background-color: white;
}

.lightbox-button{
  color: #911C1C;
  font-size: 40px;
  cursor: pointer;
} 

.central-part{
  width: 1050px;
  margin: 0 15px;
}

.central-part p{
  margin-top: 0;
}

.lightbox-img{
  width: 100%;
  height: 100%;
  max-height: 90%;
}

.left-part{
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-part {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

textarea{
  width: 100%;
  resize: none;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  height: 200px;
}

.aside-info {
  background-color: #DB8876;
  display: flex; 
  justify-content:space-between; 
  position:fixed; 
  bottom:0; 
  right:30px; 
  width:375px; 
  padding:0 35px 0 35px;
}

.aside-likes{
  display: flex;
  align-items: center;
}

aside p {
  font-size:24px; 
  font-weight:700;
}

.aside-likes img {
  margin-left:5px;
  height:17px;
}